@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kanit&family=Lobster&family=Pacifico&family=Roboto+Slab&family=Shippori+Antique&family=Spline+Sans&display=swap');

#fundo{
    background-color: #02020a;
    width: 1259px;
    height: 1375px;
    margin: 12px 0px 0px 24px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
}
#fav{
    font-family: 'Shippori Antique', sans-serif;
    font-size: 46px;
    color: rgb(31 52 58);
    margin-left: 79px;
    margin-top: -663px;
    position: absolute;
    width: 550px;
}
#lembrete{
    font-family: 'Spline Sans', sans-serif;
    font-size: 33px;
    color: rgb(255, 255, 255);
    background-color: rgb(255 255 255 / 2%);
    height: 52px;
    width: 955px;
    margin-left: 79px;
    margin-top: -583px;
    position: absolute;
    padding: 10px 0px 0px 178px;
}

span{
    font-family: 'Lobster', cursive;
    color: white;
}
#linha{
    background-color: rgb(255, 255, 255);
    height: 56px;
    width: 7px;
    margin: -651px 0px 0px 61px;
    position: absolute;
}
img{
    height: 377px;
    width: 287px;
    position: absolute;
    border-radius: 6px;
}
#conteudo{
    margin-top: -692px;
    position: absolute;
}
#fileira1{
    margin-top: 78px;
    position: absolute;
}
#fileira2{
    margin-top: 476px;
    position: absolute;

}
#fileira3{
    margin-top: 872px;
    position: absolute;
}

#fileira4{
    margin-top: 1271px;
    position: absolute;
}
#yellow, #peaky, #fleabag, #mirror{
    margin: -577px 0px 0px 47px;
}
#watchmen, #narcos, #euphoria, #barry{
    margin: -577px 0px 0px 351px;
}
#theboys, #house, #cobrakai, #b99{
    margin: -577px 0px 0px 666px;
}
#tedlasso, #got, #breakingbad, #bojack{
    margin: -577px 0px 0px 975px;
}
