@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kanit&family=Lobster&family=Pacifico&family=Roboto+Slab&family=Shippori+Antique&family=Spline+Sans&display=swap');
body{
    background-color:rgb(255, 255, 255);
}
#fundo{
    width: 486px;
    height: 634px;
    margin: -32px 0px 0px 418px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    position: relative;
}
#linha{
    margin: -398px 0px 0px 418px;
    background-color: rgb(31 52 58);
    height: 10px;
    width: 486px;
    position: absolute;
}
#logina{
    font-family: 'Ubuntu', sans-serif;
    font-size: 38px;
    margin: -382px 0px 0px 438px;
    color: #ffffff;
    position: absolute;
    font-weight: bold;
}
#loginimg{
    width: 486px;
    height: 246px;
    margin: -636px 0px 0px 418px;
    border-radius: 15px 15px 0px 0px;
    position: absolute;
}
#usuarioa{
    margin: -347px 0px 0px 453px;
    position: absolute;
}
#lausuario{
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-size: 27px;
}
#inusuario{
    width: 109%;
    padding: 5px 39px;
    background-color: white;
    font-size: 19px;
    border: 3px solid rgb(31 52 58);

}
#usuario2{
    margin: -302px 0px 0px 441px;
    position: absolute;
}
#senhab{
    margin: -263px 0px 0px 453px;
    position: absolute;
    
}
#lasenha{
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-size: 27px;
}
#insenha{
    width: 109%;
    padding: 5px 39px;
    background-color: white;
    font-size: 19px;
    border: 3px solid rgb(31 52 58);

}
#senha2{
    margin: -217px 0px 0px 441px;
    position: absolute;
}
input[type=submit]{
    background-color: rgb(31 52 58);
    border: none;
    color: white;
    padding: 10px 104px;
    text-decoration: none;
    margin: -148px 528px;
    cursor: pointer;
    position: absolute;
    font-size: 25px;
}
#grndlinha{
    transform: skew(-82deg);
    height: 372px;
    width: 1276px;
    margin: 172px 0px 0px 0px;
    position: fixed;
    background-color: rgb(31 52 58);
}
.recuperar_senha{
    margin: -177px 0px 0px 446px;
    color: #ffffff;
    position: absolute;
}
#conta{
    margin: -64px 418px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    font-size: 21px;
    background-color: rgb(31 52 58);
    border-radius: 0px 0px 15px 15px;
    height: 48px;
    width: 390px;
    padding: 20px 0px 0px 96px; 
}