@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kanit&family=Lobster&family=Pacifico&family=Roboto+Slab&family=Shippori+Antique&family=Spline+Sans&display=swap');
#pipoca{
    height: 576px;
    width: 1237px;
    margin: 7px 0px 0px 8px;
    position: relative;
    border: 20px solid rgb(31 52 58);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 50);
}
#fundo{
    background-color: #02020a;
    width: 1277px;
    height: 440px;
    margin: -18px 0px 0px 8px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 50);
}
#preparo{
    margin: 16px 0px 0px -882px;
}
#receita{
    font-family: 'Shippori Antique', sans-serif;
    margin: -421px 0px 0px 564px;
    font-size: 39px;
    color: white;
    position: absolute;
    text-decoration: underline solid rgb(31 52 58);
}
#modo{
    font-family: 'Shippori Antique', sans-serif;
    margin: -384px 0px 0px 934px;
    font-size: 28px;
    color: white;
    position: absolute;
}
#passo2, #passo3, #passo4{
    font-size: 24px;
    font-family: 'Spline Sans', sans-serif;
    color: white;
    position: absolute;
    width: 375px;
}
#passo2{
    margin: -341px 0px 0px 920px;
}
#linha{
    width: 9px;
    height: 307px;
    margin: -365px 10px 10px 500px;
    position: absolute;
    background-color: rgb(31 52 58);
}
#passo3{
    margin: -341px 0px 0px 1353px;
}
#passo4{
    margin: -341px 0px 0px 1765px;
}